# Core
Django==4.2.7
asgiref==3.9.1
sqlparse==0.5.3
tzdata==2025.2

# Templates & Forms
django-crispy-forms==2.4
crispy-bootstrap5==2025.6

# Admin Theme
django-jazzmin==3.0.1

# Image handling
Pillow==11.0.0

# Production Server
gunicorn==23.0.0

# Production Database
psycopg2-binary==2.9.10
dj-database-url==3.1.2

# Static Files (production)
whitenoise==6.12.0

# Environment Variables
python-dotenv==1.2.2
